:root {
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  height: 90vh;

  color-scheme: light dark;
  color: rgba(238, 236, 224, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

.App {
  background-color: #faf6ed;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(239, 227, 210, 0.963);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* .buttonSort{

} */


.buttonSort {
  font-size: 11px;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #131111;
  background-color: none;
  transition: all 0.3s;
  border: none;
  box-shadow: none;
  list-style-type: none; // Убираем маркеры списка

  &.active {
    color: #f3af03;
    text-decoration: underline 2px solid;
    text-underline-offset: 1mm;
  }

  &:hover {
    cursor: pointer;
    color:  #f3af03;
  }
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.platform {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #f7f2f2;
  position: absolute;
  top: 80%;
  right: 10%;
  height: 10%;
  /* Настройте стили вашего дива "platform" по вашему усмотрению */
  background-color: rgba(0, 0, 0, 0); /* Например, полупрозрачный черный фон */
  z-index: 999; /* Убедитесь, что z-index вашего "platform" больше, чем у Swiper, чтобы он был поверх него */
}
