.form-add {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 30px;
  width: 600px;
  
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 10px 10px 20px 3px rgba($color: black, $alpha: 1);
  
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: larger;
    font-style: italic;
  }
  &__input {
    padding: 10px;
  }
  &__submit {
    color: rgb(110, 109, 109);
    text-transform: uppercase;
    &:hover {
      border: 1px solid rgb(92, 92, 92);
      color: rgb(41, 41, 41);
    }
  }
  &__close {
    color: rgb(201, 162, 162);
    text-transform: uppercase;
    &:hover {
      border: 1px solid rgb(136, 45, 45);
      color: rgb(184, 94, 94);
    }
  }
  position: absolute;
  background-color: white;
}
.item-page {
  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__title {
    text-align: center;
  }
  &__item {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    max-width: 350px;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 3px rgba($color: black, $alpha: 1);
    &--img {
      max-width: 250px;
      flex-grow: 1;
    }
  }
}



.item-item-page {
  &__item {
    border: 1px solid white;
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 40px;
    box-shadow: 10px 10px 20px 3px rgba($color: black, $alpha: 1);
    &--img {
      width: 600px;
    }
  }
}
/*Саша настилил*/
.hero-item-page__item--description {
  overflow-y: auto; 
  word-wrap: break-word;
  margin-left: 100px;
  margin-right: 100px;
  // text-align: left;
}

.item-item-page-img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  margin-top: 10px;
}




.button-all-items-master{
  font-size: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  // text-transform: uppercase;
  color: #131111;
  transition: all 0.3s;
  border: none;
  box-shadow: none;
  list-style-type: none;
  background-color: transparent;
  text-decoration: underline 2px solid;
      text-underline-offset: 1mm;
      color: #b95909;
}
.button-all-items-master:hover {
  cursor: pointer;
    color: #944300;
}
// .button-all-items-master {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   cursor: pointer;
//   transition: border-color 0.25s;
//   background: linear-gradient(to bottom right, #ffffff , #c29c7b );
//   // background-size: 400% 400%;
//   // animation: gradient 10s ease infinite;
// }

// .button-all-items-master:hover {
//   cursor: pointer;
//   border-color: #c77518;
// }
// .button-all-items-master:active {
//   background: linear-gradient(to bottom right, #fff5f0 20%, #b68c68, #b47946 );
// }
// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }