.item-page__container {
  position: relative;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.item-page__item {
  position: relative;
  max-width: 300px;
  height: 170px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  border: solid 2px;
  border-color: aqua;
}
.item-page__item:hover {
  height: 420px;
}
.item-page__item--img {
  position: relative;
  width: 200px;
  height: 120px;
  top: -60px;
  z-index: 1;
}
.item-page__item--content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.item-page__item:hover .item-page__item--content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
