.authRedirect {
  margin: 30px;
}
.reg-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-input {
  width: 188px;
}
